/* Boilerplate CSS from https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /* line-height: 1.5; */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Custom CSS */
/* * {
    border: solid red 1px;
} */

body {
    background-color: rgb(39, 44, 16);
    display: flex;
    justify-content: center;
}

#body-container {
    background-color: rgb(198, 206, 155);
    max-width: 520px;
    padding: 2.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    box-shadow: 0 0 50px 50px rgba(198, 206, 155, 1), inset 0 0 10px 10px rgb(139, 144, 109)
}

h2 {
    text-align: center;
    font-family: "Bad Script";
}

#text-input {
    margin: 1vh;
    width: 75%;
    background-color: rgb(218, 242, 234);
    border: solid rgb(65, 65, 139);
}

#check-btn {
    font-family: "Bad Script";
    font-weight: 900;
    background-color: rgb(226, 179, 179);
    margin: 2%;
    padding: 2%;
    width: 50%;
    height: 10%;
    position: relative;
    z-index: 150;
}

#result {
    margin-top: 2%;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    font-family: "Bad Script";
    font-size: 1.5rem;
    position: relative;
    z-index: 100;
    background-color: rgba(198, 206, 155, .8);
    box-shadow: 0 0 30px 20px rgba(198, 206, 155, 1)
}

#picToRotate {}


/* spinning animation adapted from Noelle Brockhoff https://codepen.io/nbrockhoff/pen/avxpxO/top */

.wrap {
    width: 100%;
    height: 80vh;
}

.wrap div {
    /* display: none; */
    margin-top: 5%;
    width: 100%;
    height: 50%;
    border-radius: 40%;
    background: url("./Twofold_Askara.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 40px 15px rgba(64, 23, 23, 0.7), inset 0 0 10px 10px rgba(101, 70, 70, 0.8);
    
}

.wrap {
    transition: transform 6s ease;
}

.quote {
    position: absolute;
    bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 420px;
    font-family: "Mrs Saint Delafield";
    font-size: 2rem;
    background-color: rgba(198, 206, 155, .9);
    box-shadow: 0 0 30px 20px rgba(198, 206, 155, 1)
}